.tab {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    background-color: antiquewhite;
    border: 2px solid #9696ea;
    text-align: center;
    z-index: 9;
    button {
        cursor: pointer;
    }
}